<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<button
    onclick="window.location.href = 'http://127.0.0.1:8000/voucher/';">
        AdminHome
    </button>


<div class="container">
    <form method="POST">
      <fieldset>
        <legend>Form</legend>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Add Voucher to consumer</button>
      </fieldset>
    </form>
</div>




</body>
</html>